footer {
  background-color: #454545;
  padding: 10px;
  text-align: center;
  color: white;
  height: 360px;
}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 13.5%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin-left: 42%;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 53px;
  text-align: center;
  text-decoration: none;
  margin: 10px 4px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 1.0;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 20px;

}

.fa-google {
  background: #dd4b39;
  color: white;
}




.name {
  padding-left: 55px;
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

#info {
  background-image: url(http://blumbergtrail.com/wp-content/uploads/2016/05/portfolio-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2.5px);
  padding-bottom: 1100px;
  height: auto;
  width: 100%;
  max-width: 1800px;
}

.bilog {
  padding-top: 30px;
  padding-left: 650px;
}



.bg-green {
 background-image: url(https://i.pinimg.com/originals/0e/39/c2/0e39c256714a4b7c0299323a82701647.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.line {
  border: 2px solid black;
  width: 87px;
  opacity: 0.149;
}

#h1text h1{
  font-weight: bolder;
  padding: 119px 0px 0px 0px;
  font-size: 30px;
  letter-spacing: 5px;
}


 .P1 {
  font-size: 25px;
}

#rowrow {
  padding-top: 78px;
}


p.p2 {
  font-size: 15px;
  margin-bottom: -4px;
}

#headertext3 {
  font-size: 18px;
  padding: 62px 0px 0px 0px;
}

#bodys {
  padding-bottom: 127px;
}

#picA {
  padding-top: 50px;
}

#picB {
  padding-top: 50px;
}

#picC {
  padding-top: 50px;
}

#picD {
  padding-top: 50px;
}

#picQ {
  padding-top: 50px;
}

#picW {
  padding-top: 50px;
}

#picE {
  padding-top: 50px;
}

#picR {
  padding-top: 50px;
}

#bodys {
  padding-bottom: 200px;
}

/* 3rd layer */

.bg-black {
  background-color: #efefef;
}


.logbi {
  padding-left: 55px;
}

.vl {
  border-left: 6px solid green;
  height: 200px;
  left: 50%;

  top: 0;
  margin-left: 100px;
}

.logbi2 {
  padding-left: 7px;
}

.v2 {
  border-left: 6px solid green;
  height: 200px;
  left: 50%;

  top: 0;
  margin-left: 95px;

}

.portfolio {
  transition: transform .5s ease;

}
.row.no-padding [class*=col=] {
  padding= 0;
}
.portfolio img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}
.portfolio {
  overflow: hidden;

}
.card {
  margin: 2rem;
}


.bi-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  padding: 20px;
  text-align: center;
  margin-top: 700px;
}

.Welcome{
  animation: animationFrames ease-out 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -ms-animation: animationFrames ease-out 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}


.responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}






@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    transform:  translate(-40px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -ms-transform:  translate(-40px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}
